.App {
  width: 730px;
  height: 1055px;
  margin: 0 auto;
  padding: 0 auto;
}

.qr-input {
  display: flex;
  justify-content: center;
}

.qr-input input {
  margin-left: 1em;
}

.qrcode-generator {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

#qrCodeEl {
  display: flex;
  justify-content: center;
}

.download-btn {
  height: 1.5em;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 30px;
}